extends ./layout.pug

block content
  main.mdl-layout__content
    .mdl-grid
      .mdl-grid.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--12-col-tablet.mdl-cell--4-col-phone.mdl-cell--top
        .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--8-col-tablet.mdl-cell--3-col-phone
          .mdl-card.mdl-shadow--2dp
            .mdl-card__title
              h2.mdl-card__title-text #{object.objectname}
            .mdl-card__supporting-text
              .mdl-grid
                .mdl-cell.mdl-cell--6-col
                  #containerThreeJS

                .mdl-cell.mdl-cell--6-col
                  ul.mdl-list
                    li.mdl-list__item
                      span.mdl-list__item-primary-content.list__item-text Author
                      span.mdl-list__item-secondary-content
                      span#author.mdl-list__item-secondary-content.trending__percent #{object.username}
                    li.mdl-list__item.list__item--border-top
                      span.mdl-list__item-primary-content.list__item-text Upload date
                      span.mdl-list__item-secondary-content
                      span#date.mdl-list__item-secondary-content.trending__percent DATE
                    li.mdl-list__item.list__item--border-top
                      span.mdl-list__item-primary-content.list__item-text Vertice count
                      span.mdl-list__item-secondary-content
                      span#verticesCount.mdl-list__item-secondary-content.trending__percent XXXXX
                    li.mdl-list__item.list__item--border-top
                      span.mdl-list__item-primary-content.list__item-text Polygon count
                      span.mdl-list__item-secondary-content
                      span#polygonsCount.mdl-list__item-secondary-content.trending__percent XXXXX
                    li.mdl-list__item.list__item--border-top
                      span.mdl-list__item-primary-content Material
                      span.mdl-list__item-secondary-content
                      span#material.mdl-list__item-secondary-content.trending__percent MATERIAL
                    if(object.average > 0)
                      li.mdl-list__item.list__item--border-top
                        span.mdl-list__item-primary-content Note
                        span.mdl-list__item-secondary-content
                        span#material.mdl-list__item-secondary-content.trending__percent #{object.average}
                  
                  if (user)
                    .mdl-grid
                      .mdl-cell.mdl-cell--2-col
                        form.form(role='form', action='/augmentedReality', method='post')
                          .form__article
                            .mdl-grid
                              input#identifiant(type='hidden', name='objectId', value=object._id)
                          .form__action
                            button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
                              | AR
                      .mdl-cell.mdl-cell--1-col
                      .mdl-cell.mdl-cell--4-col
                        form.form(role='form', action='/download', method='post')
                          .form__article
                            .mdl-grid
                              input#identifiant(type='hidden', name='objectId', value=object._id)
                          .form__action
                            button#submit_button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored-blue.pull-right(type='submit' data-upgraded=',MaterialButton,MaterialRipple', style='')
                              | Download
                              span.mdl-button__ripple-container
                                span.mdl-ripple.is-animating(style='width: 270.763px; height: 270.763px; transform: translate(-50%, -50%) translate(71px, 28px);')

        .mdl-cell.mdl-cell--4-col-desktop.mdl-cell--4-col-tablet.mdl-cell--2-col-phone
          .mdl-card.mdl-shadow--2dp
            .mdl-card__title
              h2.mdl-card__title-text New comment
            .mdl-card__supporting-text
              include ./upload_comment
              +newComment(object._id)

    .mdl-grid
      .mdl-grid.mdl-cell.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-cell--top
        .mdl-cell.mdl-cell--8-col-desktop.mdl-cell--8-col-tablet.mdl-cell--3-col-phone
          .mdl-card.mdl-shadow--2dp
            .mdl-card__title
              h2.mdl-card__title-text Comments
            .mdl-card__supporting-text
              for com in comments
                include ./comment
                +showComment(com)

  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/101/three.min.js')
  script(src='https://threejs.org/examples/js/loaders/OBJLoader.js')
  script(src='https://threejs.org/examples/js/loaders/FBXLoader.js')
  script(src='https://threejs.org/examples/js/controls/OrbitControls.js')
  script(src='https://threejs.org/examples/js/libs/inflate.min.js')
  script(src='https://threejs.org/examples/js/libs/stats.min.js')
  script(src='https://threejs.org/examples/js/loaders/MTLLoader.js')
  script(src='https://threejs.org/examples/js/loaders/DDSLoader.js')

  script(src='js/view3DObject.min.js')
  script.
    showObject(document.getElementById('containerThreeJS'), '#{object.objectPath}', '#{object.materialPath}', '#{object.timestamp}');



